* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #69BDAD;
    --container: #F8F8F0;
    --white: #FFFFFF;
}

body{
    background-color: var(--main-color);
    min-height: 100vh;
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--container);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.3);
}

.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 6rem;
}
.cell{
    background-color: var(--white);
    width: 100px;
    height: 100px;
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}